<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Paper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a href="#Subjects">Subject <span ></span></a>
      </li>
      <li><a href="#">Swag</a></li>
      <li><a href="#">Grade Level</a> </li>
    </ul>

    <li class="dropdown navbar-right">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Log In
        <span class=" glyphicon glyphicon-log-in"></span></a>
      <ul class="dropdown-menu">
        <button (click)="googleLogin()" class="googleBtn">Sign in with Google</button>
        <button (click)="facebookLogin()" class="facebookBtn">Sign in with Facebook</button>
      </ul>

  </div>
</nav>

<button class="btn-google">Sign in with google</button>

<div> {{ (af.auth | async)?.uid }} </div>


<button (click)="logout()">Logout</button>


